@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#2E3138] w-[1280px] mx-auto flex-wrap h-[720px];
}

@layer base {
  html {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    color: white;
  }
}

@layer components {
  .link {
    @apply flex items-center h-[52px] py-0.5 pl-7 mr-2.5 rounded-r-2xl;
  }
  .sidebar {
    @apply bg-[#2D3037] w-[180px] h-[673px] drop-shadow-[5px_5px_10px_rgba(8,7,13,0.42)] shadow-[inset_1px_1px_0px_rgba(82,77,100,1)] rounded-br-2xl;
  }

  .search {
    @apply bg-[#2D3037] px-6 py-4 rounded-bl-2xl w-[1096px] ml-1 drop-shadow-[5px_5px_10px_rgba(8,7,13,0.42)] shadow-[inset_1px_1px_0px_rgba(82,77,100,1)];
  }
}
